@font-face {
  font-family:"gotham";
  src: url("assets/gotham.ttf") format("truetype");
}

@font-face {
  font-family:"gotham_thin";
  src: url("assets/gotham_thin.ttf") format("truetype");
}

.App {
  font-family: 'gotham', sans-serif;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

#home {
  background-image: url('assets/home.jpeg');
  background-position:right 7vh;
  background-repeat: no-repeat;
  background-size: 80% 90%;
  width: 100%;
  height: 100%;
}

.user_header{
  background-color: rgb(134, 193, 217);
}
.drop_btn{
  margin-right: 10%;
  color: white;
  border:0;
}
.drop_btn:hover{
  background-color: rgb(134, 193, 217);
  border:0;
}
nav {
  background-color: rgb(134, 193, 217);
  border-radius: 0;
}

.navba {
  border: 0;
  padding-top: 10px;
  background-color: rgb(134, 193, 217);
}

.navbar-bran {
  text-decoration-line: none;
  color: white;
  font-size: 45px;
  padding-left: 1em;
  font-weight: 100;
}
.navbar-bran:hover {
  text-decoration-line: none;
  color:rgb(80, 118, 133);
  font-size: 45px;
  padding-left: 1em;
  font-weight: 100;
}

.dat {
  font-size: 40px;
  color: rgb(93, 142, 161);
}

.data_dow {
  font-size: 17px;
  color: rgb(93, 142, 161);
  font-family: 'gotham_thin', sans-serif;
  padding: 0.2em;
  margin-left: 3%;
}

.data_con {
  font-size: 20px;
  color: rgb(93, 142, 161);
  margin-top: 10%;
  margin-left: 1%;
}

.conten {
  padding: 2em;
  padding-top: 3em;
  letter-spacing: 0.7px;
  margin-top: 5%;
  margin-left: 1%;
}

.my_btn {
  width: 160px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(134, 193, 217);
  display: inline-block;
  text-decoration-line: none;
  color: white;
  font-size: 17px;
  text-align: center;
  margin-left: 1em;
  line-height: 40px;
}
.my_btn:hover {
  width: 160px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(134, 193, 217);
  display: inline-block;
  text-decoration-line: none;
  color:rgb(80, 118, 133);
  font-size: 17px;
  text-align: center;
  margin-left: 1em;
  line-height: 40px;
}

.structure{
display:flex;
flex-direction: row;
text-align: center;
}
.UserDatalist{
margin-top:8%;
margin-left: 5%;
width:35%;
height: 60vh;
border:3px solid hwb(197 22% 23%);
}
.UserResult{
margin-top:8%;
margin-left: 5%;
width:40%;
height: 60vh;
border:3px solid hwb(197 22% 23%);
}


@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
font-family: FontAwesome; 
position: relative;
display: table-cell;
width: 3.6rem;
height: 7rem;
text-align: center;
vertical-align: middle;
font-size:1.38rem;
}


.main-menu:hover,nav.main-menu.expanded {
width: 14rem;
overflow:visible;
}

.main-menu {
background:rgb(134, 193, 217);
border-right:1px solid white;
position:relative;
top:0;
bottom:0;
height:90vh;
left:0;
width:3.2rem;
overflow:hidden;
-webkit-transition:width .1s linear;
transition:width .1s linear;
transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width: 14rem;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:black;
font-family: arial;
font-size: 0.9rem;
text-decoration:none;
transform:translateZ(0) scale(1,1);
transition:all .3s linear;
transition:all .3s linear;
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:3.6rem;
height:3rem;
text-align:center;
vertical-align:middle;
font-size:1.38rem;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:12rem;
font-family: 'Titillium Web', sans-serif;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:black;
background-color:white;
}
.area {
float: left;
background: white;
width: 100%;
height: 100vh;
}
@font-face {
font-family: 'Titillium Web';
font-style: normal;
font-weight: 300;
src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
.bellicon{
  margin-left: 115vh;
  color:white;
  width:30px;
  height:30px;
}
.bellicon:hover{
  color:rgb(80, 118, 133);
  width:30px;
  height:30px;
  margin-left: 115vh;
}


/* Hospital Content */
.hospital {
  height: 100%;
}

.hospital_main {
  background-color: white;
  height: 100%;
}

.hospital_content {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
}

.hospital_content > .side_menu {
  height: 100%;
}

.hospital_content > .right_content {
  width: 100%;
  overflow: auto;
}


.patient_list_container {
  margin: 0% 2% 2% 2%;
}

.patient_list_container > .item_patient {
  margin: 2% 2% 2% 2%;
  background-color: #e2e6ea;
  border: 1px;
  border-color: black;
  border-radius: 10px;
  padding: 1.5% 1.5% 1.5% 1.5%;
}

.patient_list_container > .item_patient > .name {
  font-size: 1.3rem;
}

.patient_list_container > .item_patient > .address {
  margin-bottom: 1%;
}
.filter{
  margin-top: 20px;
}

.my_view {
  width: 60px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(134, 193, 217);
  display: inline-block;
  text-decoration-line: none;
  color: white;
  font-size: 13px;
  text-align: center;
  margin-left: 1em;
  line-height: 30px;
}
.my_view:hover {
  width: 60px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(134, 193, 217);
  display: inline-block;
  text-decoration-line: none;
  color:rgb(80, 118, 133);
  font-size: 13px;
  text-align: center;
  margin-left: 1em;
  line-height: 30px;
}

.hospital_send_phr {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 2% 2% 2% 2%;
  padding: 2% 2% 2% 2%;
  border-radius: 2%;
}

.phr_top {
  display: flex;
  flex-direction: row;
}

.phr_top_left {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
  padding-right: 10px;
}


.phr_top_left > .col_2 {
  display: flex;
  flex-direction: row;
}

.phr_top_left > .col_2 > .mb-3 {
  margin-right: 10px;
}

.phr_top_right {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 10px;
  width: 49%;
}

.phr_top_right > .col_2 {
  display: flex;
  flex-direction: row;
}

.phr_top_right > .col_2 > .mb-3 {
  margin-right: 10px;
}

.phr_bottom {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.phr_bottom > .col_1{
  width: 48%;
}

.phr_bottom > .col_3 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.phr_bottom > .col_3 > .mb-3 {
  margin-right: 10px;
}

.phr_bottom > .col_3 > .btn_phr_send {
  margin-left: auto;
  width: 10%;
}

